.mainFooter {
  padding-top: 3rem;
  padding-bottom: 3rem;
  width: 100%;
  .footerContent {
    display: flex;
    justify-content: center;
    align-items: center;
    .footerItem {
      text-decoration: none;
      color: initial;      
      &:hover {
        color: #0085a1;
      }
      &:not(:last-child) {
        margin-right: 1rem;
      }
    }
  }
}
