@import "../../styles/responsive.scss";

.mainNav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1030;
  border-bottom: 1px solid #dee2e6;
  background-color: #fff;
  @include responsive(lg) {
    transition: background-color 0.2s;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    background-color: transparent;
    border-bottom: 1px solid transparent;
  }

  .logoMenu {
    display: flex;
    align-items: center;
    .navLogo {
      width: 50px;
      height: 50px;
      cursor: pointer;
      & > img {
        max-width: 100%;
        height: auto;
      }
    }

    .langCollapse {
      i, &::after {
        font-size: x-large;
      }
      @include responsive(lg) {
        color: #fff;
      }
    }
  }

  .navItem {
    font-weight: 700;
    font-size: larger;
    & > div {
      border: none;
    }
  }

  @include responsive(lg) {
    .navItem,
    .navItem > * {
      color: #fff !important;
    }
  }
}
