@import "../../styles/mixins.scss";

#cms-post-view {
  .post-menu {
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;
  }

  .post-pagination {
    display: flex;
    justify-content: center;
  }
}


.create-or-update-post-modal {
  @include modalWidth(70%);
}